.damageNumbers {
    position: relative;
    max-height: 100dvh;
    // overflow: hidden;
    // z-index: 1;
}

.dmg {
    position: absolute;
    z-index: 999; // shows it on top of our canvas
    background: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}